@import "../vars";

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .section-header:not(:first-child) {
    margin-top: 2rem;
  }
}

.checkbox-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.created-calendar-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .created-calendar {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: $c-off;
    @media (max-width: $mobile-vw) {
      font-size: 0.9rem;
    }

    border-radius: 10px;
    padding: 1rem 1rem 0;
    width: 100%;
    overflow: hidden;

    // Drop shadow
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);

    .button-group {
      display: flex;
      gap: 1rem;
    }

    @media (max-width: $mobile-vw) {
      .button-group {
        display: flex;
        flex-direction: column;
      }

      .button-group button {
        width: 100%;
        margin: 0.2rem;
      }
    }

    .coverage {
      font-size: 1.5em;
    }
  }

  .overlay {
    .button-group{
      display: flex;
      flex-direction: column;
    }

    .button-group button {
      width: 100%;
      margin: 0.2rem;
    }

    .toggle-button.active {
      background-color: $c-alt;
      color: white;
    }
  }

  // ========== EVENTS ==========
  .events {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      align-items: center;
      gap: 1rem;

      > div {
        display: flex;
        flex-direction: column;
      }

      // A hack to add border when there's already a padding in the parent
      margin: 0 -1rem;
      padding: 1rem 1rem;

      border-top: 2px dashed #bbb;
      min-height: 70px;

      // Colors
      &.st-invited {
        background-color: #ffe8da;
      }
      &.st-scheduled {
        background-color: #fff8e8;
      }
      &.st-complete {
        background-color: #eeffde;
      }

      .name {
        font-weight: bold;
      }

      img {
        $img-len: 60px;
        width: $img-len;
        height: $img-len;
        border-radius: 50%;
      }

      // Automatically fill content
      &.st-complete > div:after {
        content: "Complete";
      }
      &.st-invited > div:after {
        content: "Invited";
      }
      &.st-scheduled > div:after {
        content: "Scheduled";
      }
    }
  }
}