@import "../vars";

#ms-schedule-calendar {
  border-collapse: collapse;
  border-spacing: 2px;

  // Borders
  td {
    border: 1px solid #ccc;
  }

  // Disable the outer border
  td:first-child {
    border-left: none;
  }
  td:last-child {
    border-right: none;
  }

  // Make the table take up the full width
  // Each cell will take up equal width
  width: 100%;
  table-layout: fixed;

  // Reduce margin on mobile
  @media (max-width: 520px) {
    margin-left: -$mobile-margin;
    margin-right: -$mobile-margin;
    width: calc(100% + 2 * $mobile-margin);
  }

  text-align: center;

  .day {
    position: relative;
  }

  .time {
    padding: 5px;
    font-size: 0.7rem;
    height: 40px;
  }

  .avail {
    width: 95%;
    top: 0;
    left: 2.5%;
    position: absolute;

    // We can finally do rounded borders now
    border-radius: 5px;

    // Preference indication text
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    overflow: hidden;

    // Center the text
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Availability priority
  // From 0: not available to 3: most available
  .avail.av0 {
    background-color: $c-off;
  }

  .avail.av1 {
    background-color: #ef897f;
  }

  .avail.av2 {
    background-color: #fcc231;
  }

  .avail.av3 {
    background-color: #3ac281;
  }
}