@import "../vars";

#root .calendar-table-wrapper {
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  *, button {
    &.avail {
      color: white;
    }

    // Availability priority
    // From 0: not available to 3: most available
    &.avail.av0 {
      background-color: lightblue;
    }

    &.avail.av1 {
      background-color: #ef897f;
    }

    &.avail.av2 {
      background-color: #fcc231;
    }

    &.avail.av3 {
      background-color: #3ac281;
    }
  }

  &.edit {
    .avail {
      // Drag
      cursor: pointer;

      &.dragging {
        // Dragging
        cursor: grabbing;
        z-index: -1;

        &.invalid {
          background-color: red;
          color: transparent;

          &:before {
            content: "Invalid";
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

#calendar-table {
  border-collapse: collapse;
  border-spacing: 2px;

  // Borders: We use outline here because we don't want it to affect the absolute child's 100% height
  td {
    position: relative;
    //outline: 1px solid rgba(#ccc, 0.4);
    &:before {
      position: absolute;
      inset: 0;
      content: "";
      border: 1px solid rgba(#ccc, 0.4);
      z-index: -2;
    }
  }

  // Disable the outer border
  td:first-child {
    border-left: none;
  }
  td:last-child {
    border-right: none;
  }

  // Make the table take up the full width
  // Each cell will take up equal width
  width: 100%;
  table-layout: fixed;

  //&.mobile {
  //  width: unset;
  //  th {
  //    font-size: 0.9em;
  //  }
  //  td {
  //    min-width: 70px;
  //  }
  //}

  // Reduce margin on mobile
  @media (max-width: 520px) {
    margin-left: -$mobile-margin;
    margin-right: -$mobile-margin;
    width: calc(100% + 2 * $mobile-margin);
  }

  text-align: center;

  .day {
    position: relative;
  }

  .time {
    padding: 5px;
    font-size: 0.7rem;
    height: 40px;
  }

  .avail {
    width: 95%;
    top: 0;
    left: 2.5%;
    position: absolute;
    z-index: 10;
    user-select: none;
    cursor: pointer;

    // We can finally do rounded borders now
    border-radius: 5px;

    // Preference indication text
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    overflow: hidden;

    // Center the text
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .drag-handle {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5px;
      cursor: ns-resize;
      z-index: 16;

      background: red;
    }
  }
}