.timepicker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

}

.timepicker-dropdown {
    padding: 5px;
    border-radius: 8px;
}