#calendar-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.calendar {
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: auto;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.calendar-title {
    color: orange;
    font-weight: bold;
    text-align: center;
}

.calendar-table {
    text-align: center;

    @media (max-width: 768px) {
        font-size: 0.8rem;
        width: 100%;
    }
}

.calendar-table td {
    cursor: pointer;
}

.calendar-table td.selected {
    background-color: #5ced73;
    border-radius: 8px;
}

.event-name {
    display: flex;
    flex-direction: column;
}

.dropdown {
    padding: 5px;
    border-radius: 8px;
}