@import "vars";

#contact-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  // Default hide, show when the select parameter is set
  .hide-select {
    display: none;
  }

  &.select {
    .hide-select {
      display: block;
    }
  }

  .section-header {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
    }
  }

  // Hide "Send" buttons on mobile and let the user click the contact directly
  @media (max-width: $mobile-vw) {
    .contact:not(.opened) button {
      display: none;
    }

    // Flex wrap
    .contact {
      flex-wrap: wrap;
      gap: 1rem;

      button {
        flex: 1;
      }

      button.delete {
        flex: 0;
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #eee;
    border-radius: 10px;
    padding: 8px 16px;

    > img {
      $img-len: 50px;
      width: $img-len;
      height: $img-len;
      border-radius: 50%; // Makes the image circular

      margin-right: 0.5rem;
    }

    > div {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 1rem;

      // Name
      > span:first-child {
        flex: 0 1 100px;
      }

      // Email
      > span:last-child {
        flex: 1 1 100px;
      }

      @media (max-width: $mobile-vw) {
        flex-direction: column;
        flex: 1;
        gap: 0;
        justify-content: center;
        align-items: flex-start;

        > span:first-child, > span:last-child {
          flex: 0 1 auto;
        }
      }
    }
  }
}