@import "vars";

#schedule {
  #ms-schedule-calendar {
    // Disable table invisible border
    border-collapse: collapse;
    border-spacing: 2px 0;

    // Make the table take up the full width
    // Each cell will take up equal width
    width: 100%;
    table-layout: fixed;

    text-align: center;

    #ms-schedule-header {
      // 1px border at the bottom
      border-bottom: 1px solid $c-emp;
    }

    .time {
      // 1px border at the right
      border-right: 1px solid $c-emp;

      padding: 5px;
    }
  }

  // Availability priority
  // From 0: not available to 3: most available
  .avail-0 {
    background-color: #eee;
  }

  .avail-1 {
    background-color: #ff8000;
  }

  .avail-2 {
    background-color: #ffbf00;
  }

  .avail-3 {
    background-color: #80ff00;
  }
}