$c-bg: white;
$c-text: #1e1e1e;
$c-text-emp: #005f73;
$c-emp: #02b089;
$c-alt: #31b7ff;
$c-off: #eee;
$c-warn: #ff8e8e;
$font: Inter, -apple-system, "Segoe UI", Roboto, Ubuntu, sans-serif;

$mobile-margin: 2em;
$mobile-vw: 520px;